.Box {
    position: relative;
    left: 100.08px;
    width: 244px;
    height: 68px;

    background: #3F97FF;
    box-shadow: 0px 0px 20px rgba(63, 151, 255, 0.2);
    border: 5px solid rgba(255, 0, 0, 0.4);
}

.tableHeaderBox {
    width: 200px;
    height: 68px;

    background: #3F97FF;
    box-shadow: 0px 0px 20px rgba(63, 151, 255, 0.2);
    border: 5px solid rgba(255, 0, 0, 0.4);

}

.tableColBox {
    left: 100px;
    width: 200px;
    height: 68px;

    background: rgb(176, 200, 232);
    box-shadow: 0px 0px 20px rgba(63, 151, 255, 0.2);
    border: 5px solid rgba(255, 0, 0, 0.4);

}

.Box2 {
    position: relative;
    left: 100.08px;
    width: 1000px;
    height: 1000px;

    background: #a2f821;
    box-shadow: 0px 0px 20px rgba(63, 151, 255, 0.2);
    border: 5px solid rgba(255, 0, 0, 0.4);
}

.tableContainer {
    max-height: 500px;
    /* Adjust the desired max height */
    overflow-y: auto;
}

.tableContainer thead {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}