.ManagementHeader {
    position: fixed;
    left: 38.47%;
    top: 15.26%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    /* 7 */

    color: #FFFFFF;
}

.button-group {
    display: flex;
}

.buttonDeposit {
    position: fixed;
    background: #282A2E;
    color: rgba(255, 255, 255, 0.6);

    border: 1px solid rgba(255, 255, 255, 0.4);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    width: 101.02px;
    height: 37px;

    left: 40%;
    top: 49%;



    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.buttonDeposit.selected {
    background: hsl(72, 100%, 50%);
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #282A2E;
}

.buttonDeposit:hover {
    background: #CCFF00;
    color: #FFFFFF;
}

.buttonWithdraw {
    position: fixed;
    background: #282A2E;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.4);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 101.02px;
    height: 37px;

    left: 50%;
    top: 49%;



    text-align: center;
     cursor: pointer;
    border-radius: 5px;
}

.buttonWithdraw.selected {
    background: hsl(72, 100%, 50%);
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #282A2E;
}

.buttonWithdraw:hover {
    background: #CCFF00;
    color: #FFFFFF;

}

.buttonDelete {
    position: fixed;
    background: #282A2E;
    border: 1px solid rgba(255, 255, 255, 0.4);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 101.02px;
    height: 37px;

    left: 54.68%;
    top: 36.39%;

    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.buttonDelete.selected {
    background: hsl(72, 100%, 50%);
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #282A2E;
}

.buttonDelete:hover {
    background: #CCFF00;
}


.box_1_forSearchB {
    box-sizing: border-box;

    position: fixed;
    left: 35.47%;
    right: 37.68%;
    top: 43.06%;
    bottom: 52.59%;

    background: #282A2E;
    border-radius: 5px;

    color: #FFFFFF;

}

.box_2_inputB {
    position: absolute;
    left: 35.47%;
    right: 37.68%;
    top: 49.35%;
    bottom: 46.3%;
    background: #282A2E;
    border-radius: 5px;

    color: #FFFFFF;
}

.box_6_input {
    position: absolute;
    left: 35.47%;
    right: 37.68%;
    top: 75.09%;
    bottom: 20.65%;
    background: #282A2E;
    border-radius: 5px;

    color: #FFFFFF;
}

.box_3_input {
    position: absolute;
    left: 35.47%;
    right: 37.68%;
    top: 55.74%;
    bottom: 39.91%;
    background: #282A2E;
    border-radius: 5px;

    color: #FFFFFF;

}

.box_4_input {
    position: absolute;
    left: 35.47%;
    right: 37.68%;
    top: 62.13%;
    bottom: 33.52%;

    background: #282A2E;
    border-radius: 5px;

    color: #FFFFFF;

}

.box_5_input {
    position: absolute;
    left: 35.47%;
    right: 37.68%;
    top: 68.61%;
    bottom: 27.04%;

    background: #282A2E;
    border-radius: 5px;

    color: #FFFFFF;

}

.submitAdd {
    position: absolute;
    left: 49.26%;
    right: 37.68%;
    top: 62.22%;
    bottom: 30.52%;

    background: #CCFF00;
    border-radius: 20px;
}


.resetAdd {
    box-sizing: border-box;

    position: absolute;
    left: 35.47%;
    right: 52.26%;
    top: 62.22%;
    bottom: 30.52%;

    background: #282A2E;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

.submitTransaction2 {
    position: absolute;
    left: 49.26%;
    right: 37.68%;
    top: 62.13%;
    bottom: 30.61%;

    background: #CCFF00;
    border-radius: 20px;
}
.submitTransaction2:hover{
     background: #5cea4a;
 }

.resetTransaction2 {
    box-sizing: border-box;

    position: absolute;
    left: 35.47%;
    right: 52.26%;
    top: 62.13%;
    bottom: 30.61%;
    
    background: #282A2E;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

.resetTransaction2:hover{
    background: #4f535b;
}

.submitDelete {
    position: absolute;
    left: 49.26%;
    right: 37.68%;
    top: 49.54%;
    bottom: 43.2%;

    background: #CCFF00;
    border-radius: 20px;
}

.resetDelete {
    box-sizing: border-box;

    position: absolute;
    left: 35.47%;
    right: 52.26%;
    top: 49.54%;
    bottom: 43.2%;

    background: #282A2E;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;

}

.brokerBox {
    position: absolute;
    left: 2.76%;
    right: 78.59%;
    top: 4.35%;
    bottom: 91.3%;

    background: #282A2E;
    border-radius: 5px;
    color: #FFFFFF;

}