.Profile__container {
  width: 100%;
  height: 100vh;
  color: #ffffff;
  display: flex;
  justify-content: center;
  animation: NotiAnimation 1.5s;
}

@keyframes NotiAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.profile__container__Bank__Transaction__List {
  width: 38%;
  height: 100vh;
  background-color: #212225;
  position: absolute;
  border-left: 2px solid #242529;
}

.profile__container__Bank__Transaction__Container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.profile__container__Bank__Transaction__List__title,
.profile__Account__container__title {
  text-align: left;
  font-weight: 600;
  color: #ccff00;
}

.Login__device__item__detail {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.Login__device__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__container__transaction__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__transaction__details {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.Login__device__item__List,
.profile__container__List {
  background-color: #282a2e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__transaction___topic {
  text-align: left;
  font-size: 0.75rem;
  width: 2rem;
}

.profile__container__List__box::-webkit-scrollbar {
  width: 0px;
}

.Login__device__box::-webkit-scrollbar {
  width: 0px;
}

.profile__Account___container {
  position: absolute;
  left: 0;
  width: 29.5%;
  display: flex;
  justify-content: center;
}

.profile__Account__container__box {
  width: 100%;
}

.profile__Account__ID {
  display: flex;
  white-space: nowrap;
  justify-content: flex-start;
}

.profile__Account__ID__value {
  display: flex;
  white-space: nowrap;
  justify-content: flex-end;
}

.profile__Account__Broker {
  font-weight: 600;
  color: #4e4f51;
  display: flex;
  white-space: nowrap;
  justify-content: flex-start;
}

.profile__Account__Broker__value {
  font-weight: 400;
  color: #ffffff;
  display: flex;
  white-space: nowrap;
  justify-content: flex-end;
}

.profile__Account__PersonalInformation {
  font-weight: 600;
  color: #ffffff;
}

.profile__Account__Topic {
  font-weight: 600;
  color: #4e4f51;
  display: flex;
  white-space: nowrap;
  justify-content: flex-start;
}

.profile__Account__Name__value,
.profile__Account__PhoneNumber__value,
.profile__Account__Email__value {
  font-weight: 400;
  color: #ffffff;
  display: flex;
  white-space: nowrap;
  justify-content: flex-end;
}

.profile__Account__LogOut:hover {
    background-color: #CD3D42;
  box-shadow: 0px 1px 16px -1px #CD3D42(0, 0, 0, 0.4);
  transform: translateY(-2px);
}

@media screen and (max-width: 1599px) {
  .profile__container__Bank__Transaction__List {
    margin-left: 2.5rem;
  }

  .profile__container__List__box {
    margin-top: 1rem;
    overflow-y: auto;
    max-height: 32rem;
  }

  .profile__container__Bank__Transaction__BOX {
    margin-top: 1.5rem;
    width: 25rem;
  }

  .profile__container__Bank__Transaction__List__title {
    padding-left: 1rem;
    font-size: 0.85rem;
  }

  .Login__device__item__List,
  .profile__container__List {
    margin-top: 0.5rem;
    border-radius: 10rem;
    width: 100%;
    height: 2.15rem;
  }


  .Wallet__transaction__side
   {
    text-align: left;
    font-size: 0.65rem;
    width: 3rem;
  }

  .profile__transaction___topic{
    text-align: left;
    padding-left: 1rem;
    font-size: 0.65rem;
    width: 3rem;
  }


  .profile__amount__value {
    text-align: right;
    font-size: 0.65rem;
    width: 5rem;
  }

  .profile__transaction___date {
    text-align: right;
    font-size: 0.65rem;
    width: 9rem;
  }

  .profile__Account___container {
    margin-left: 2.5rem;
  }

  .profile__Account__container__box {
    width: 19rem;
    margin-top: 1.5rem;
  }

  .profile__Account__container__title {
    padding-left: 1rem;
    font-size: 0.85rem;
  }

  .profile__Account__ID {
    font-weight: 600;
    padding-top: 1.5rem;
    font-size: 0.85rem;
  }

  .profile__Account__ID__value {
    font-weight: 400;
    font-size: 0.85rem;
  }

  .profile__Account__Verified {
    margin-top: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccff00;
    color: #282a2e;
    width: 4.5rem;
    height: 1.25rem;
    border-radius: 10rem;
  }

  .CheckVerified {
    width: 0.5rem;
  }

  .VerifiedText {
    font-weight: 600;
    font-size: 0.65rem;
  }

  .profile__Account__Broker {
    padding-top: 0.75rem;
    font-size: 0.75rem;
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 2px solid #242529;
  }

  .profile__Account__Broker__value {
    width: 100%;
    font-size: 0.75rem;
  }

  .profile__Account__ID__value {
    width: 0.65rem;
    width: 100%;
  }

  .profile__Account__PersonalInformation {
    font-size: 0.75rem;
    padding-top: 1rem;
  }

  .profile__Account__Topic {
    font-size: 0.75rem;
    width: 100%;
    padding-top: 1rem;
  }

  .profile__Account__Name__value,
  .profile__Account__PhoneNumber__value,
  .profile__Account__Email__value {
    font-size: 0.75rem;
    width: 100%;
  }

  .profile__Account__LogOut {
    font-size: 0.75rem;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282a2e;
    color: #ffffff;
    width: 100%;
    height: 2.25rem;
    border-radius: 10px;
    border: 1px solid #4e4f51;
  }

  .Login__device__item__name {
    color: #4e4f51;
    text-align: left;
    font-size: 0.65rem;
    width: 2rem;
    padding-left: 1rem;
  }

  .Login__device__IPaddress {
    text-align: right;
    font-size: 0.65rem;
    width: 5rem;
  }

  .Login__device__date {
    text-align: right;
    font-size: 0.65rem;
    width: 10rem;
    padding-right: 1rem;
  }

  .Login__device__box {
    overflow-y: auto;
    max-height: 11rem;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
  .profile__container__Bank__Transaction__List {
    margin-left: 3rem;
  }

  .profile__container__List__box {
    margin-top: 1rem;
    overflow-y: auto;
    max-height: 43.5rem;
  }

  .profile__container__Bank__Transaction__BOX {
    margin-top: 2rem;
    width: 28rem;
  }

  .profile__container__Bank__Transaction__List__title {
    padding-left: 1.5rem;
    font-size: 1rem;
  }

  .Login__device__item__List,
  .profile__container__List {
    margin-top: 0.8rem;
    border-radius: 10rem;
    width: 100%;
    height: 2.5rem;
  }


  .Wallet__transaction__side{
    text-align: left;
    font-size: 0.75rem;
    width: 3rem;
  }

  .profile__transaction___topic {
    padding-left: 1rem;
    text-align: left;
    font-size: 0.75rem;
    width: 3rem;
  }

  .profile__amount__value {
    text-align: right;
    font-size: 0.75rem;
    width: 6rem;
  }

  .profile__transaction___date {
    text-align: right;
    font-size: 0.75rem;
    width: 10rem;
  }

  .profile__Account___container {
    margin-left: 3rem;
  }

  .profile__Account__container__box {
    width: 24rem;
    margin-top: 2rem;
  }

  .profile__Account__container__title {
    padding-left: 1rem;
    font-size: 0.85rem;
  }

  .profile__Account__ID {
    font-weight: 600;
    padding-top: 1.5rem;
    font-size: 0.85rem;
  }

  .profile__Account__ID__value {
    font-weight: 400;
    font-size: 0.85rem;
  }

  .profile__Account__Verified {
    margin-top: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccff00;
    color: #282a2e;
    width: 4.5rem;
    height: 1.25rem;
    border-radius: 10rem;
  }

  .CheckVerified {
    width: 0.5rem;
  }

  .VerifiedText {
    font-weight: 600;
    font-size: 0.65rem;
  }

  .profile__Account__Broker {
    padding-top: 0.75rem;
    font-size: 0.75rem;
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 2px solid #242529;
  }

  .profile__Account__Broker__value {
    width: 100%;
    font-size: 0.75rem;
  }

  .profile__Account__ID__value {
    width: 0.65rem;
    width: 100%;
  }

  .profile__Account__PersonalInformation {
    font-size: 0.75rem;
    padding-top: 1rem;
  }

  .profile__Account__Topic {
    font-size: 0.75rem;
    width: 100%;
    padding-top: 1rem;
  }

  .profile__Account__Name__value,
  .profile__Account__PhoneNumber__value,
  .profile__Account__Email__value {
    font-size: 0.75rem;
    width: 100%;
  }

  .profile__Account__LogOut {
    font-size: 0.75rem;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282a2e;
    color: #ffffff;
    width: 100%;
    height: 2.25rem;
    border-radius: 10px;
    border: 1px solid #4e4f51;
    margin-bottom: 1rem;
  }

  .Login__device__item__name {
    color: #4e4f51;
    text-align: left;
    font-size: 0.75rem;
    width: 3rem;
    padding-left: 2rem;
  }

  .Login__device__IPaddress {
    text-align: right;
    font-size: 0.75rem;
    width: 6.5rem;
  }

  .Login__device__date {
    text-align: right;
    font-size: 0.75rem;
    width: 13rem;
    padding-right: 2rem;
  }

  .Login__device__box {
    margin-top: 1rem;
    overflow-y: auto;
    max-height: 20rem;
  }
}

@media screen and (min-width: 1801px) {
  .profile__container__Bank__Transaction__List {
    margin-left: 3.5rem;
  }

  .profile__container__Bank__Transaction__BOX {
    margin-top: 3.5rem;
    width: 34rem;
  }

  .profile__container__Bank__Transaction__List__title {
    padding-left: 2rem;
    font-size: 1.25rem;
  }

  .profile__Account___container {
    margin-left: 3.5rem;
  }

  .profile__Account__container__box {
    width: 27rem;
    margin-top: 3.5rem;
  }

  .profile__container__Bank__Transaction__List {
    margin-left: 3rem;
  }

  .profile__container__List__box {
    margin-top: 1rem;
    overflow-y: auto;
    max-height: 43.5rem;
  }

  .profile__container__Bank__Transaction__BOX {
    margin-top: 2rem;
    width: 28rem;
  }

  .profile__container__Bank__Transaction__List__title {
    padding-left: 1.5rem;
    font-size: 1rem;
  }

  .Login__device__item__List,
  .profile__container__List {
    margin-top: 0.8rem;
    border-radius: 10rem;
    width: 100%;
    height: 2.5rem;
  }

  .Wallet__transaction__side {
    text-align: left;
    font-size: 0.75rem;
    width: 3rem;
  }

  .profile__transaction___topic {
    padding-left: 1rem;
    text-align: left;
    font-size: 0.75rem;
    width: 4rem;
  }

  .profile__amount__value {

    text-align: right;
    font-size: 0.75rem;
    width: 6.5rem;
  }

  .profile__transaction___date {
    text-align: right;
    font-size: 0.75rem;
    width: 10.5rem;
  }

  .profile__Account___container {
    margin-left: 3rem;
  }

  .profile__Account__container__box {
    width: 24rem;
    margin-top: 2rem;
  }

  .profile__Account__container__title {
    padding-left: 1rem;
    font-size: 0.85rem;
  }

  .profile__Account__ID {
    font-weight: 600;
    padding-top: 1.5rem;
    font-size: 0.85rem;
  }

  .profile__Account__ID__value {
    font-weight: 400;
    font-size: 0.85rem;
  }

  .profile__Account__Verified {
    margin-top: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccff00;
    color: #282a2e;
    width: 4.5rem;
    height: 1.25rem;
    border-radius: 10rem;
  }

  .CheckVerified {
    width: 0.5rem;
  }

  .VerifiedText {
    font-weight: 600;
    font-size: 0.65rem;
  }

  .profile__Account__Broker {
    padding-top: 0.75rem;
    font-size: 0.75rem;
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 2px solid #242529;
  }

  .profile__Account__Broker__value {
    width: 100%;
    font-size: 0.75rem;
  }

  .profile__Account__ID__value {
    width: 0.65rem;
    width: 100%;
  }

  .profile__Account__PersonalInformation {
    font-size: 0.75rem;
    padding-top: 1rem;
  }

  .profile__Account__Topic {
    font-size: 0.75rem;
    width: 100%;
    padding-top: 1rem;
  }

  .profile__Account__Name__value,
  .profile__Account__PhoneNumber__value,
  .profile__Account__Email__value {
    font-size: 0.75rem;
    width: 100%;
  }

  .profile__Account__LogOut {
    font-size: 0.75rem;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282a2e;
    color: #ffffff;
    width: 100%;
    height: 2.25rem;
    border-radius: 10px;
    border: 1px solid #4e4f51;
    margin-bottom: 1rem;
  }

  .Login__device__item__name {
    color: #4e4f51;
    text-align: left;
    font-size: 0.75rem;
    width: 3rem;
    padding-left: 1.5rem;
  }

  .Login__device__IPaddress {
    text-align: right;
    font-size: 0.75rem;
    width: 6rem;
  }

  .Login__device__date {
    text-align: right;
    font-size: 0.75rem;
    width: 12rem;
    padding-right: 1.5rem;
  }

  .Login__device__box {
    margin-top: 1rem;
    overflow-y: auto;
    max-height: 20rem;
  }
}