.News {
  width: 100%;
  height: 100vh;
  color: #ffffff;
  display: flex;
  justify-content: center;
  animation: LOLAnimation 1.5s;
}

@keyframes LOLAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Header_News {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #4e4f51;
  color: #ccff00;
}

.News_title {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.News_date {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #4e4f51;
}

.New_text {
  position: absolute;
  color: #4e4f51;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.News_box_Left {
  position: absolute;
}

.News_box_Mid {
  position: absolute;
}

.News_box_Right {
  position: absolute;
}

.News_title {
  font-weight: 600;
}

.News_title p {
  font-weight: 400;
  color: #4e4f51;
}

.New_text {
  font-weight: 400;
  color: #4e4f51;
}

@media screen and (max-width: 1600px) {
  .Header_News {
    width: 68rem;
  }

  .Container_News {
    margin-right: 4rem;
  }
  .Header_News {
    margin-top: 2.5rem;
    margin-left: 6rem;
  }

  .News_title {
    margin-top: 1rem;
    font-size: 0.8rem;
    width: 20rem;
    margin: 0;
  }

  .News_title p {
    font-size: 0.65rem;
  }

  .New_text {
    font-size: 0.65rem;
    margin-top: 0.65rem;
    margin-left: 0rem;
    width: 20rem;
  }

  .Pic__News {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -12rem;
    width: 20rem;
  }

  .Pic__News img {
    height: 11.5rem;
    border-radius: 1rem;
    align-self: center;
  }

  .News_box_1 {
    position: absolute;
    margin-top: 13rem;
  }

  .News_box_2 {
    position: absolute;
    margin-top: 22.5rem;
  }

  .News_box_Left {
    margin-left: 6rem;
  }

  .News_box_Mid {
    margin-left: 30rem;
  }

  .News_box_Right {
    margin-left: 54rem;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
  .Header_News {
    width: 80rem;
  }

  .Container_News {
    margin-right: 4rem;
  }
  .Header_News {
    margin-top: 3rem;
    margin-left: 6rem;
  }

  .News_title {
    margin-top: 1rem;
    font-size: 1rem;
    width: 25rem;
    margin: 0;
  }

  .News_title p {
    font-size: 0.8rem;
  }

  .New_text {
    font-size: 0.8rem;
    margin-top: 0.8rem;
    margin-left: 0rem;
    width: 25rem;
  }

  .Pic__News {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -16rem;
    width: 25rem;
  }

  .Pic__News img {
    height: 15rem;
    border-radius: 1rem;
    align-self: center;
  }

  .News_box_1 {
    position: absolute;
    margin-top: 17.5rem;
  }

  .News_box_2 {
    position: absolute;
    margin-top: 30rem;
  }

  .News_box_Left {
    margin-left: 6rem;
  }

  .News_box_Mid {
    margin-left: 33.5rem;
  }

  .News_box_Right {
    margin-left: 61rem;
  }
}

@media screen and (min-width: 1801px) {
  .Header_News {
    width: 100rem;
  }

  .Container_News {
    margin-right: 4rem;
  }
  .Header_News {
    margin-top: 3rem;
    margin-left: 6rem;
  }

  .News_title {
    margin-top: 1rem;
    font-size: 1.2rem;
    width: 30rem;
    margin: 0;
  }

  .News_title p {
    font-size: 1rem;
  }

  .New_text {
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 0rem;
    width: 30rem;
  }

  .Pic__News {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -16rem;
    width: 30rem;
  }

  .Pic__News img {
    height: 15rem;
    border-radius: 1rem;
    align-self: center;
  }

  .News_box_1 {
    position: absolute;
    margin-top: 18.5rem;
  }

  .News_box_2 {
    position: absolute;
    margin-top: 33rem;
  }

  .News_box_Left {
    margin-left: 6rem;
  }

  .News_box_Mid {
    margin-left: 40.5rem;
  }

  .News_box_Right {
    margin-left: 75rem;
  }
}
