.news-container{
  width: 100%;
  height: 100vh;
  color: #ffffff;
  display: flex;
  justify-content: center;
  animation: NotiAnimation 1.5s;
}

@keyframes NotiAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.news-title{
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #4e4f51;
  color: #ccff00;
}

.news-topic{
  font-weight: 600;
  color: #ffffff;
}

.news-content{
  font-weight: 400;
  color: #ffffff;
}

.news-time{
  font-weight: 400;
  color: #4e4f51;
}

@media screen and (max-width: 1600px) {

  .news-container{
    padding-left: 1rem;
  }
  .news-title{
    margin-top: 2rem;
    width: 68rem;
  }

  .news-item{
    width: 68rem;
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .news-topic{
    width: 15rem;
    font-size: 0.7rem;
  }

  .news-content{
    width: 40rem;
    font-size: 0.7rem;
  }

  .news-time{
    width: 10rem;
    font-size: 0.6rem;
    text-align: right;
  }

  .news-footer{
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
  .news-container {
    padding-left: 2rem;
  }
  .news-title {
    margin-top: 3rem;
    width: 80rem;
  }
  .news-item {
    width: 80rem;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .news-topic {
    width: 17rem;
    font-size: 0.8rem;

  }
  .news-content {
    width: 50rem;
    padding-left: 1rem;
    font-size: 0.8rem;
  }
  .news-time {
    width: 12rem;
    font-size: 0.7rem;
    text-align: right;
  }
  .news-footer {
    padding-bottom: 3rem;
  }
}


@media screen and (min-width: 1801px) {
  .news-container {
    padding-left: 3rem;
  }
  .news-title {
    margin-top: 4rem;
    width: 100rem;
  }
  .news-item {
    width: 100rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .news-topic {
    width: 25rem;
    font-size: 1rem;
  }
  .news-content {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 60rem;
    font-size: 1rem;
  }
  .news-time {
    width: 14rem;
    font-size: 0.9rem;
    text-align: right;
  }
  .news-footer {
    padding-bottom: 4rem;
  }
}
