.Homepage {
  width: 100%;
  height: 100vh;
  color: #ffffff;
  display: flex;
  justify-content: center;
  animation: LOLAnimation 2s;
}

@keyframes LOLAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Button {
  position: absolute;
}

.Logo {
  position: absolute;
}

.Homepage-header {
  position: absolute;
}

.Banner {
  position: absolute;
}

.Stock__detail {
  position: absolute;
  font-weight: 600;
}

.Member__box {
  position: absolute;
  margin-top: 3rem;
}

.Header__News {
  font-weight: 600;
}

.Header__Member {
  position: absolute;
  font-weight: 600;
}

.Head__Name {
  position: absolute;
  font-weight: 600;
}

.Pic {
  position: absolute;
  border-radius: 10rem;
}

.Position {
  font-weight: 400;
  color: #4e4f51;
}

.Detail__Name {
  position: absolute;
  font-weight: 400;
  color: #4e4f51;
}

.Footer {
  position: absolute;
}
.News__box {
  position: absolute;
}

.News__box__2 {
  position: absolute;
}

.News__title {
  position: absolute;
  font-weight: 600;
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.News__title p {
  font-weight: 400;
  color: #4e4f51;
}

.New__text {
  position: absolute;
  color: #4e4f51;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.Name{
  font-weight: 600;
}

.Price{
  font-weight: 400;
  color: #4e4f51;
}

.Price p{
  font-weight: 600;
  color: #FFFFFF;
}

.Change{
  font-weight: 400;
  color: #4e4f51;
  text-align: right;
}

.Change p{
  font-weight: 600;
  color: #FFFFFF;
}

.P2{
  position: absolute;
}

.U2{
  position: absolute;
}

.D2{
  position: absolute;
}

.Moon{
  animation: dropShadowAnimation 4s infinite;
}

.Mock {
  animation: moveAnimation 4s infinite;
}

@keyframes dropShadowAnimation {
  0% {
    filter: drop-shadow(0 0 4rem #ccff00);
  }
  50% {
    filter: drop-shadow(0 0 4rem #4e4f51);
  }
  100% {
    filter: drop-shadow(0 0 4rem #ccff00);
  }
}

@keyframes moveAnimation {
  0% {

    transform: translateX(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateX(0);
  }
}


@media screen and (max-width: 1600px) {
  .Logo {
    width: 7rem;
    margin-top: 3rem;
    margin-right: 58rem;
  }

  .Button {
    text-align: center;
    justify-content: center;
    padding-top: 0.85rem;
    width: 10rem;
    height: 3rem;
    margin-top: 22rem;
    margin-right: 25rem;
    font-weight: 600;
    font-size: 0.8rem;
    background: linear-gradient(
      126.59deg,
      rgba(255, 255, 255, 0.08) 12.11%,
      rgba(255, 255, 255, 0.02) 73.08%
    );
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 50px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  .Button:hover {
    background-color: #ccff00;
    color: #4e4f51;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
  }

  .FootLogo {
    width: 7rem;
    margin-top: 62rem;
    margin-left: 22rem;
  }

  .Footer_Text {
    font-weight: 400;
    font-size: 0.8rem;
    color: #ccff00;
    margin-left: 18rem;
    margin-bottom: 4.5rem;
  }

  .Homepage-header {
    margin-right: 30rem;
    margin-top: 8rem;
  }

  .Mock {
    border: none;
    width: 30rem;
    margin-left: 32rem;
    margin-top: 3rem;
    z-index: 0;
  }

  .Moon {
    position: relative;
    width: 18rem;
    margin-left: 41rem;
    margin-top: -22rem;
    z-index: -1;
  }

  .Homepage-header p {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .Homepage-header a {
    color: #4e4f51;
    font-size: 0.8rem;
    font-weight: 400;
    text-decoration: none;
  }

  .Stock__detail {
    position: absolute;
    margin-top: 28.5rem;
    font-size: 0.8rem;
  }

  .Popular {
    position: absolute;
    margin-left: -31.75rem;
  }
  
  .Up {
    width: 8rem;
    margin-left: -10.85rem;
    position: absolute;
  }

  .Down {
    width: 8rem;
    position: absolute;
    margin-left: 10rem;
  }

  .P1 {
    position: absolute;
    margin-top: 0.6rem;
    background-color: #282a2e;
    border-radius: 0.7rem;
    width: 9rem;
    height: 5rem;
  }

  .P2 {
    margin-left: 9.5rem;
    margin-top: 0.6rem;
    background-color: #282a2e;
    border-radius: 0.7rem;
    width: 9rem;
    height: 5rem;
  }

  .U1 {
    position: absolute;
    margin-top: 0.6rem;
    background-color: #282a2e;
    border-radius: 0.7rem;
    width: 9rem;
    height: 5rem;
  }

  .U2 {
    margin-left: 9.5rem;
    margin-top: 0.6rem;
    background-color: #282a2e;
    border-radius: 0.7rem;
    width: 9rem;
    height: 5rem;
  }

  .D1 {
    position: absolute;
    margin-top: 0.6rem;
    background-color: #282a2e;
    border-radius: 0.7rem;
    width: 9rem;
    height: 5rem;
  }

  .D2 {
    margin-left: 9.5rem;
    margin-top: 0.6rem;
    background-color: #282a2e;
    border-radius: 0.7rem;
    width: 9rem;
    height: 5rem;
  }

  .Header__News {
    position: absolute;
    margin-top: 40rem;
    font-size: 0.8rem;
    margin-right: 40rem;
    border-bottom: 1px solid #4e4f51;
    padding-bottom: 0.5rem;
    width: 23rem;
  }

  .Header__Member {
    position: absolute;
    margin-top: 40rem;
    font-size: 0.8rem;
    margin-right: -22rem;
    border-bottom: 1px solid #4e4f51;
    padding-bottom: 0.5rem;
    width: 35rem;
  }

  .Head__Name {
    width: 12rem;
    margin-left: 4.5rem;
    font-size: 0.8rem;
  }

  .Pic {
    width: 3rem;
    margin-left: -4rem;
    margin-top: -0.5rem;
  }

  .Detail__Name {
    width: 10rem;
    margin-top: 3.5rem;
    font-size: 0.6rem;
  }

  .Member__2 {
    position: absolute;
    margin-top: 9rem;
  }

  .Member__3 {
    position: absolute;
    margin-left: 18rem;
  }

  .Member__4 {
    position: absolute;
    margin-top: 9rem;
    margin-left: 18rem;
  }

  .PicNews {
    width: 11rem;
    margin-top: 2.2rem;
    border-radius: 0.6rem;
  }

  .News__title {
    margin-top: -5.5rem;
    margin-left: 12rem;
    font-size: 0.7rem;
    width: 100%;
  }

  .News__title p {
    font-size: 0.6rem;
  }

  .New__text {
    margin-top: 1rem;
    font-size: 0.65rem;
    width: 22.5rem;
    max-height: 5rem;
  }

  .Name__Stock{
    margin-top: 0.8rem;
    margin-left: 1rem;
    font-size: 0.8rem;
  }
  
  .Price{
    margin-top: 0.6rem;
    font-size: 0.5rem;
  }
  
  .Price p{
    font-size: 0.6rem;
  }
  
  .Change{
    position: absolute;
    margin-top: -3.5rem;
    margin-left: 5.3rem;
    font-size: 0.5rem;
  }
  
  .Change p{
    font-size: 0.5rem;
  }

  .Home__Chart{
    width: 50%;
    margin-left: 2.9rem;
    margin-top: -1.25rem;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
  .Logo {
    margin-top: 4rem;
    width: 8rem;
    margin-right: 76rem;
  }

  .Button {
    text-align: center;
    justify-content: center;
    padding-top: 1rem;
    width: 12rem;
    height: 4rem;
    margin-top: 27rem;
    margin-right: 34rem;
    font-weight: 600;
    font-size: 1rem;
    background: linear-gradient(
      126.59deg,
      rgba(255, 255, 255, 0.08) 12.11%,
      rgba(255, 255, 255, 0.02) 73.08%
    );
    box-shadow: 0px 1.1px 9px -1.1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 50px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  .Button:hover {
    background-color: #ccff00;
    color: #4e4f51;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
  }

  .Mock {
    border: none;
    width: 32rem;
    margin-left: 2rem;
    margin-top: -1rem;
    z-index: 0;
  }

  .Moon {
    position: relative;
    width: 20rem;
    margin-left: 10rem;
    margin-top: -26rem;
    z-index: -1;
  }

  .Mock:hover + .Moon {
    filter: drop-shadow(0 0 1rem #ccff00);
  }

  .Homepage-header {
    margin-right: 40rem;
    margin-top: 10rem;
  }
  .Banner {
    width: 35rem;
    margin-left: 40rem;
    margin-top: 10rem;
  }
  .Homepage-header p {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
  }

  .Homepage-header a {
    color: #4e4f51;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
  }

  .Stock__detail {
    margin-top: 36.5rem;
    font-size: 1rem;
  }

  .Popular {
    position: absolute;
    margin-left: -41rem;
  }
  .Up {
    width: 10rem;
    margin-left: -14rem;
    position: absolute;
  }

  .Down {
    width: 10rem;
    position: absolute;
    margin-left: 13rem;
  }

  .P1 {
    position: absolute;
    margin-top: 0.6rem;
    background-color: #282a2e;
    border-radius: 1rem;
    width: 12rem;
    height: 7rem;
  }

  .P2 {
    margin-left: 13rem;
    margin-top: 0.6rem;
    background-color: #282a2e;
    border-radius: 1rem;
    width: 12rem;
    height: 7rem;
  }

  .U1 {
    position: absolute;
    margin-top: 0.6rem;
    background-color: #282a2e;
    border-radius: 1rem;
    width: 12rem;
    height: 7rem;
  }

  .U2 {
    margin-left: 13rem;
    margin-top: 0.6rem;
    background-color: #282a2e;
    border-radius: 1rem;
    width: 12rem;
    height: 7rem;
  }

  .D1 {
    position: absolute;
    margin-top: 0.6rem;
    background-color: #282a2e;
    border-radius: 1rem;
    width: 12rem;
    height: 7rem;
  }

  .D2 {
    margin-left: 13rem;
    margin-top: 0.6rem;
    background-color: #282a2e;
    border-radius: 1rem;
    width: 12rem;
    height: 7rem;
  }

  .Header__News {
    position: absolute;
    margin-top: 50rem;
    font-size: 1rem;
    margin-right: 45rem;
    border-bottom: 1px solid #4e4f51;
    padding-bottom: 0.5rem;
    width: 36rem;
  }

  .Header__Member {
    position: absolute;
    margin-top: 50rem;
    font-size: 1rem;
    margin-right: -33rem;
    border-bottom: 1px solid #4e4f51;
    padding-bottom: 0.5rem;
    width: 38rem;
  }

  .Head__Name {
    width: 16rem;
    margin-left: 4.5rem;
    font-size: 1rem;
  }

  .Pic {
    width: 4rem;
    margin-left: -5rem;
    margin-top: -0.5rem;
  }

  .Detail__Name {
    width: 10rem;
    margin-top: 4rem;
    font-size: 0.8rem;
  }

  .Member__2 {
    position: absolute;
    margin-top: 10rem;
  }

  .Member__3 {
    position: absolute;
    margin-left: 20rem;
  }

  .Member__4 {
    position: absolute;
    margin-top: 10rem;
    margin-left: 20rem;
  }

  .FootLogo {
    width: 9rem;
    margin-top: 75rem;
    margin-left: 34rem;
  }

  .Footer_Text {
    font-weight: 400;
    font-size: 1rem;
    color: #ccff00;
    margin-left: 29rem;
    margin-bottom: 5rem;
  }

  .PicNews {
    width: 16rem;
    margin-top: 2.2rem;
    border-radius: 0.7rem;
  }

  .News__title {
    margin-top: -6.25rem;
    margin-left: 18rem;
    font-size: 0.9rem;
    width: 100%;
  }

  .News__title p {
    font-size: 0.6rem;
  }

  .New__text {
    margin-top: 1rem;
    font-size: 0.75rem;
    width: 35rem;
    max-height: 5rem;
  }

  .Name__Stock{
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
  }
  
  .Price{
    margin-top: 1.4rem;
    font-size: 0.6rem;
  }
  
  .Price p{
    font-size: 0.8rem;
  }
  
  .Change{
    position: absolute;
    margin-top: -5rem;
    margin-left: 7.75rem;
    font-size: 0.6rem;
  }
  
  .Change p{
    font-size: 0.6rem;
  }

  .Home__Chart{
    width: 55%;
    margin-left: 3.7rem;
    margin-top: -2rem;
  }
}

@media screen and (min-width: 1801px) {
  .Logo {
    margin-top: 5rem;
    width: 10rem;
    margin-right: 85em;
  }

  .Button {
    text-align: center;
    justify-content: center;
    padding-top: 1rem;
    width: 14rem;
    height: 4rem;
    margin-top: 35rem;
    margin-right: 38rem;
    font-weight: 600;
    font-size: 1.2rem;
    background: linear-gradient(
      126.59deg,
      rgba(255, 255, 255, 0.08) 12.11%,
      rgba(255, 255, 255, 0.02) 73.08%
    );
    box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 50px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  .Button:hover {
    background-color: #ccff00;
    color: #4e4f51;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
  }

  .Mock {
    border: none;
    width: 38rem;
    margin-left: 5.5rem;
    margin-top: -1rem;
    z-index: 0;
  }

  .Moon {
    position: relative;
    width: 23rem;
    margin-left: 17.5rem;
    margin-top: -29rem;
    z-index: -1;
  }

  .Mock:hover + .Moon {
    filter: drop-shadow(0 0 1.5rem #ccff00);
  }

  .Homepage-header {
    margin-right: 42rem;
    margin-top: 13rem;
  }

  .Banner {
    width: 40rem;
    margin-top: 13rem;
    margin-left: 42rem;
  }
  .Homepage-header p {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .Homepage-header a {
    color: #4e4f51;
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
  }

  .Stock__detail {
    margin-top: 45rem;
    font-size: 1.2rem;
  }

  .Popular {
    position: absolute;
    margin-left: -46.5rem;
  }
  .Up {
    width: 12rem;
    margin-left: -16rem;
    position: absolute;
  }

  .Down {
    width: 12rem;
    position: absolute;
    margin-left: 14.5rem;
  }

  .P1 {
    position: absolute;
    margin-top: 0.6rem;
    background-color: #282a2e;
    border-radius: 1rem;
    width: 13rem;
    height: 7rem;
  }

  .P2 {
    margin-left: 14.5rem;
    margin-top: 0.6rem;
    background-color: #282a2e;
    border-radius: 1rem;
    width: 13rem;
    height: 7rem;
  }
  .U1 {
    position: absolute;
    margin-top: 0.6rem;
    background-color: #282a2e;
    border-radius: 1rem;
    width: 13rem;
    height: 7rem;
  }

  .U2 {
    margin-left: 14.5rem;
    margin-top: 0.6rem;
    background-color: #282a2e;
    border-radius: 1rem;
    width: 13rem;
    height: 7rem;
  }
  .D1 {
    position: absolute;
    margin-top: 0.6rem;
    background-color: #282a2e;
    border-radius: 1rem;
    width: 13rem;
    height: 7rem;
  }

  .D2 {
    margin-left: 14.5rem;
    margin-top: 0.6rem;
    background-color: #282a2e;
    border-radius: 1rem;
    width: 13rem;
    height: 7rem;
  }

  .Header__News {
    position: absolute;
    margin-top: 60rem;
    font-size: 1.2rem;
    margin-right: 55rem;
    border-bottom: 1px solid #4e4f51;
    padding-bottom: 0.5rem;
    width: 37rem;
  }

  .Header__Member {
    position: absolute;
    margin-top: 60rem;
    font-size: 1.2rem;
    margin-right: -37rem;
    border-bottom: 1px solid #4e4f51;
    padding-bottom: 0.5rem;
    width: 45rem;
  }

  .Head__Name {
    width: 20rem;
    margin-left: 4.5rem;
    font-size: 1.2rem;
  }

  .Pic {
    width: 4rem;
    margin-left: -5rem;
    margin-top: -0.5rem;
  }

  .Detail__Name {
    width: 10rem;
    margin-top: 4rem;
    font-size: 1rem;
  }

  .Detail__Name {
    width: 30rem;
  }

  .Member__2 {
    position: absolute;
    margin-top: 13rem;
  }

  .Member__3 {
    position: absolute;
    margin-left: 23rem;
  }

  .Member__4 {
    position: absolute;
    margin-top: 13rem;
    margin-left: 23rem;
  }

  .FootLogo {
    width: 9rem;
    margin-top: 92rem;
    margin-left: 39rem;
  }

  .Footer_Text {
    font-weight: 400;
    font-size: 1rem;
    color: #ccff00;
    margin-left: 34rem;
    margin-bottom: 5rem;
  }

  .PicNews{
    width: 16rem;
    margin-top: 2.5rem;
    border-radius: 0.7rem;
  }

  .News__title {
    margin-top: -7rem;
    margin-left: 16rem;
    font-size: 1rem;
    width: 20rem;
  }

  .News__title p {
    font-size: 0.6rem;
  }

  .New__text {
    margin-top: 1.3rem;
    font-size: 0.8rem;
    width: 35rem;
    max-height: 5rem;
  }

  .Name__Stock{
    margin-top: 1rem;
    margin-left: 1.4rem;
    font-size: 1rem;
  }
  
  .Price{
    margin-top: 1.4rem;
    font-size: 0.6rem;
  }
  
  .Price p{
    font-size: 0.8rem;
  }
  
  .Change{
    position: absolute;
    margin-top: -5rem;
    margin-left: 8rem;
    font-size: 0.6rem;
  }
  
  .Change p{
    font-size: 0.6rem;
  }

  .Home__Chart{
    width: 60%;
    margin-left: 4.2rem;
    margin-top: -2rem;
  }
}