.Allsection{
  width: 100%;
  height: 100vh;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: LOLAnimation 2s;
}

@keyframes LOLAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.Container {
  position: absolute;
  margin-top: 5rem;
  margin-left: 30rem;
}

.Header {
  margin-bottom: 1.8rem;
}

.Welcomeback {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  width: 240px;
}

.Enterdetail {
  text-align: center;
  font-size: 0.6rem;
  font-weight: 400;
  color: #4e4f51;
}

::placeholder {
  color: #4e4f51;
}

.Insert {
  margin-bottom: 0.8rem;
  align-items: center;
}

.Insert input {
  background: transparent;
  padding-left: 0.3rem;
  outline: none;
  font-size: 0.6rem;
  width: 95%;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 0.15rem;
  border-bottom: 1px solid #4e4f51;
  padding-bottom: 0.5rem;
}

.BrokerID select {
  font-size: 0.6rem;
  width: 95%;
  font-weight: 400;
  color: #ffffff;
  background: transparent;
  margin-bottom: 0.15rem;
  border-bottom: 1px solid #4e4f51;
  padding-bottom: 0.5rem;
  outline: none;
}

.BrokerID option {
  font-size: 0.6rem;
  color: #ffffff;
  background: #1a1b1e;
  border: none;
  outline: none;
}

.Showpassword img {
  fill: #4e4f51;
  position: absolute;
  top: -1.6rem;
  right: 0.5rem;
  width: 0.8rem;
  height: 0.8rem;
  cursor: pointer;
  margin-right: 0.2rem;
}

.ErrorMessage {
  text-align: center;
  font-size: 0.6rem;
  width: 100%;
  position: absolute;
  color: #ff0000;
}

.button {
  margin-top: 2.5rem;
  text-align: center;
  z-index: 0;
}

.background {
  position: absolute;
  width: 900px;
  z-index: -1;
  animation: LoginAnimation 4s infinite;
}

@keyframes LoginAnimation {
  0% {
    opacity: 1;
    filter: drop-shadow(0 0 0.25rem #ccff00);
  }
  50% {
    opacity: 0.9;
    filter: drop-shadow(0 0 0.25rem #1a1b1e);
  }

  100% {
    opacity: 1;
    filter: drop-shadow(0 0 0.25rem #ccff00);
  }
}


.button button {
  width: 90%;
  height: 2.3rem;
  font-weight: 600;
  font-size: 0.8rem;
  background: #ccff00;
  border-radius: 10rem;
  color: #4e4f51;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

button button:disabled {
  pointer-events: none;
}

.button button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button button:active {
  box-shadow: none;
  transform: translateY(0);
}