.navbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 2.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color:  #282A2E;
  z-index: 10;
}

.nav-logo{
  width: 3rem;
  justify-content: center;
  margin-left: -0.2rem;
}

.nav-item{
  display: flex;
  width: 2.5rem;
  height: 100%;
  align-items: center;
  margin-top: 1rem;
  color: #4E4F51;
  justify-content: center;
}

.nav-item:hover {
  filter: drop-shadow(0 0 0.003rem #FFFFFF);
}

.nav-item :focus {
  color: #CCFF00;
}

.Task{
  margin-top: -1.6rem;
  margin-left: -0.75rem;
  height: 1.5rem;
  position: absolute;
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
  .navbar{
    width: 3rem;
  }

  .nav-item{
    width: 3rem;
  }

  .nav-logo{
    width: 3.5rem;
    margin-right: 0.75px;
  }
}

@media screen and (min-width: 1801px) {
  .navbar{
    width: 3.5rem;
  }

  .nav-item{
    width: 3.5rem;
  }

  .nav-logo{
    width: 4rem;
  }
}
