.AllsectionSelectAcc {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.boxSelectAcc {
  width: 25%;
  padding: 20px;
  background: linear-gradient(148.85deg, #26282c -10.58%, #1a1b1e 104.12%);
  border: 1px solid #4e4f51;
  border-radius: 10px;
  border-radius: 8px;
  text-align: center;
}

.Head-Text-SelectAcc {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.TextUsernameSelectAcc {
  font-size: 0.85rem;
  margin-bottom: 20px;
}

.TextBoxSelectAcc {
  margin-bottom: 20px;
}

.SelectAccDropDownBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

.SelectAccDropDown {
  outline: none;
  background-color: transparent;
  width: 100%;
  padding: 8px;
  border: 1px solid #4e4f51;
  border-radius: 4px;
  font-size: 0.75rem;
  margin-bottom: 5%;
}

.SelectAccDropDown option {
  padding-right: 5%;
  width: 80%;
  background-color: #282a2e;
  border: 1px solid #4e4f51;
  border-radius: 4px;
  font-size: 0.75rem;
  padding-bottom: 5%;
}

.SelectBrokerIDandCash_Box {
  display: flex;
  justify-content: space-between;
}

.SelectBrokerIDandCash_Text {
  font-weight: bold;
  font-size: 0.75rem;
}

.SelectBrokerIDandCash_Data {
  font-size: 0.75rem;
}

.BoxFooterSelectAcc {
  display: flex;
  flex-direction: column;
}

.GoToMarket,
.AccEdit {
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-bottom: 5%;
  border: none;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: bold;
}

.Slect__Logo {
  margin-top: 3%;
  width: 45%;
}

.SelectAccDropDownText {
  width: 100%;
  outline: none;
  background-color: transparent;
}

.Head-Text-SelectAcc-2 {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.GoToMarket {
  background: #ccff00;
  display: flex;
  color: #282a2e;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

.GoToMarket:hover {
  transform: translateY(-2px);
}

.AccEdit {
  background-color: #282a2e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

.AccEdit:hover {
  background-color: #cd3d42;
  transform: translateY(-2px);
}

.boxSelectAcc {
  padding: 3%;
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
  .Head-Text-SelectAcc {
    font-size: 1.6rem;
  }

  .TextUsernameSelectAcc {
    font-size: 1.2rem;
  }

  .SelectAccDropDown {
    font-size: 1rem;
  }

  .SelectBrokerIDandCash_Text {
    font-size: 1rem;
  }

  .SelectBrokerIDandCash_Data {
    font-size: 1rem;
  }

  .GoToMarket,
  .AccEdit {
    font-size: 1rem;
  }

  .GoToMarket {
    font-size: 1rem;
  }

  .AccEdit {
    font-size: 1rem;
  }

  .boxSelectAcc {
    width: 25%;
    padding: 3%;
    border-radius: 20px;
  }
}

@media screen and (min-width: 1801px) {
  .Head-Text-SelectAcc {
    font-size: 1.6rem;
  }

  .TextUsernameSelectAcc {
    font-size: 1.2rem;
  }

  .SelectAccDropDown {
    font-size: 1rem;
  }

  .SelectBrokerIDandCash_Text {
    font-size: 1rem;
  }

  .SelectBrokerIDandCash_Data {
    font-size: 1rem;
  }

  .GoToMarket,
  .AccEdit {
    font-size: 1rem;
  }

  .GoToMarket {
    font-size: 1rem;
  }

  .AccEdit {
    font-size: 1rem;
  }

  .boxSelectAcc {
    width: 25%;
    padding: 3%;
    border-radius: 25px;
  }
}
