.Market__container {
  width: 100%;
  height: 100vh;
  color: #ffffff;
  display: flex;
  justify-content: center;
  animation: NotiAnimation 1.5s;
}

@keyframes NotiAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Market__container__mid {
  width: 55%;
  height: 100%;
  flex-direction: column;
}

.Market__container__mid__header {
  width: 100%;
  height: 10%;
  display: flex;
}

.Market__container__mid__header__left {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}

.Market__container__symbol {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Market__container__last_Price {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Market__Accont,
.Market__stock__CHG,
.Market__stock__volume,
.Market__stock__Bid_Price,
.Market__stock__Offer_Price,
.Market__stock__offer_volume,
.Market__stock__total_volume,
.Market__stock__symbol,
.Market__stock__Last_Price,
.Market__stock__High,
.Market__stock__Low,
.Market__stock__Open,
.Market__stock__floor,
.Market__stock__Average,
.Market__stock__Close {
  color: #4e4f51;
  font-weight: 400;
}

.Market__stock__symbol__value,
.Market__stock__Last_Price__value {
  font-weight: 600;
}

.Market__container__mid__header__right {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-content: center;
}

.Market__container__width {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Market__container__mid__header__Lower {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Market__container__mid__header__Lower__width {
  width: 93%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Market__container__Graph {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Market__container__mid__Footer {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Market__container__mid__Footer__width {
  width: 93%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Market__container__mid__Footer__mid,
.Market__container__mid__Footer__left,
.Market__container__mid__Footer__right {
  margin-top: -2%;
  width: 32.75%;
  height: 100%;
}

.Market__Footer__Order,
.Market__Footer__Pin,
.Market__Footer__Total,
.Market__Footer__Volume,
.Market__Footer__Price,
.Market__Footer__Symbol,
.Market__Accont__Line_Available,
.Market__Accont__Cash__balance,
.Market__Accont__Credit__limit,
.Market__Accont__Dropdawn {
  width: 100%;
  height: 22%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}

.Market__Footer__Pin,
.Market__Footer__Volume,
.Market__Footer__Price {
  border: 1px solid;
}

.Market__Footer__Pin,
.Market__Footer__Total,
.Market__Footer__Volume,
.Market__Footer__Price,
.Market__Footer__Symbol,
.Market__Accont__Credit__limit,
.Market__Accont,
.Market__Accont__Cash__balance,
.Market__Accont__Line_Available {
  color: #4e4f51;
  padding-left: 10%;
  width: 100%;
  text-align: left;
  display: flex;
  white-space: nowrap;
  justify-content: flex-start;
}

.Market__Footer__Total__value,
.Market__Footer__Volume__value,
.Market__Footer__Price__value,
.Market__Footer__Pin__value,
.Market__Footer__Symbol__value,
.Market__Accont__Cash__balance__value,
.Market__Accont__Line_Available__value,
.Market__Accont__Credit__limit__value,
.Market__Accont__value {
  padding-right: 10%;
  width: 100%;
  display: flex;
  text-align: right;
  color: #ffffff;
  display: flex;
  white-space: nowrap;
  justify-content: flex-end;
}

.Market__Footer__Volume__value input,
.Market__Footer__Price__value input,
.Market__Footer__Pin__value input {
  background: transparent;
  outline: none;
  width: 70%;
  height: 100%;
  border: none;
  color: #ffffff;
  text-align: right;
  padding: none;
}

.Market__Footer__Volume__value input::placeholder,
.Market__Footer__Price__value input::placeholder,
.Market__Footer__Pin__value input::placeholder,
.Input__pin__market input::placeholder {
  color: #4E4F51; 
}

.Market__Footer__Order {
  height: 22%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Market__Footer__Order__div {
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Market__Footer__Buy,
.Market__Footer__Sell {
  height: 100%;
  width: 48.5%;
  background-color: #282a2e;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Market__Footer__Buy:hover,
.Market__Footer__Sell:hover {
  height: 100%;
  width: 48.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #36383c;
  color: #ffffff;
}

.activeBuy {
  height: 100%;
  width: 100%;
  background-color: #42a93c;
}

.activeSell {
  height: 100%;
  width: 100%;
  background-color: #cd3d42;
}

.Market__Footer__Reset__Order {
  font-weight: 500;
  width: 100%;
  height: 22%;
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282a2e;
}

.Market__Footer__Place__Order {
  font-weight: 500;
  width: 100%;
  height: 22%;
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccff00;
  color: #282a2e;
}

.Market__Footer__Reset__Order:hover,
.Market__Footer__Place__Order:hover {
  transform: translateY(-1px);
}

.Market__container__right {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Market__container__right__Container {
  width: 85%;
  height: 95%;
  display: flex;
  flex-direction: column;
}

.Market__container__right__div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Market__container__right__Container__Bottom,
.Market__container__right__Container__Top {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Market__container__right__Header__bottom,
.Market__container__right__Header__top {
  margin-top: 5%;
  width: 100%;
  text-align: left;
  font-weight: 600;
  color: #ccff00;
}

.Market__container__right__Bottom__header__container,
.Market__container__right__top__header__container {
  margin-top: 2%;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Market__container__right__Bottom__header__Symbol,
.Market__container__right__Bottom__header__Side,
.Market__container__right__Bottom__header__Price,
.Market__container__right__Bottom__header__Volume,
.Market__container__right__Bottom__header__Status,
.Market__container__right__top__header__Symbol,
.Market__container__right__top__header__Price,
.Market__container__right__top__header__Change {
  width: 30%;
  color: #4e4f51;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Market__container__right__stock__Side,
.Market__container__right__status__Status {
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Market__container__right__status__Symbol {
  width: 15%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Market__container__right__status__Price,
.Market__container__right__status__Volume {
  width: 30%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Market__container__right__status__Symbol,
.Market__container__right__Bottom__header__Symbol,
.Market__container__right__top__header__Symbol {
  display: flex;
  justify-content: flex-start;
}

.Market__container__right__statatus__Status,
.Market__container__right__Bottom__header__Status,
.Market__container__right__top__header__Change {
  display: flex;
  justify-content: flex-end;
}

.Market__container__right__Container__stock {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Market__container__stock__box {
  width: 100%;
  overflow-y: auto;
}


.Market__container__left__stock__Box::-webkit-scrollbar,
.Market__container__stock__box::-webkit-scrollbar {
  width: 0px;
}

.Market__container__right__Container__box {
  padding-top: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Market__container__right__stock__Symbol,
.Market__container__right__stock__Price,
.Market__container__right__stock__Change {
  width: 30%;
  display: flex;
  justify-content: center;
}

.Market__container__right__stock__Symbol {
  display: flex;
  justify-content: flex-start;
}

.Market__container__right__stock__Change {
  display: flex;
  justify-content: flex-end;
}

.green {
  color: #42a93c;
}

.red {
  color: #cd3d42;
}

.Market__container__left {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Market__container__left__stock {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
}

.Market__container__left__stock__Box {
  width: 85%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}


.Martket__left_div{
  background-color: #282a2e;
  margin-bottom: 5%;
  justify-content: space-between;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Market__container__left__stock__Box__stock__symbol
{
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}


.Market__container__left__stock__Box__stock__lastPrice,
.Market__container__left__stock__Box__stock__percentChange{
  flex-direction: column;
  color: #4e4f51;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.Market__container__left__serch {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Market__container__left__serch__input{
  color: #ffffff;
  width: 70%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: none;
  border: none;
}

.srch__icon{
  width: 25%;
  height: 100%;
  color: #4e4f51;
  display: flex;
  justify-content: center;
  padding-top: 1.5%;
  align-items: center;
}
.Market__container__left__serch__input__box input{
  color: #ffffff;
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background-color: transparent;
  margin-right:7%;
}

.Market__container__left__serch__input__box input::placeholder {
  color: #4E4F51; 
}


@media screen and (max-width: 1599px) {
  .Market__container__left {
    margin-left: 2.5rem;
  }

  .Market__container__mid {
    border-left: 1px solid #282a2e;
    border-right: 1px solid #282a2e;
  }

  .Market__container__mid__header__Lower,
  .Market__container__mid__header {
    border-bottom: 1px solid #282a2e;
  }

  .Market__container__mid__header__left {
    border-right: 1px solid #282a2e;
  }

  .Market__Footer__Pin,
  .Market__Footer__Total,
  .Market__Footer__Volume,
  .Market__Footer__Price,
  .Market__Footer__Symbol,
  .Market__stock__symbol,
  .Market__stock__Last_Price {
    width: 100%;
    text-align: left;
    font-size: 0.65rem;
  }

  .Market__stock__symbol__value,
  .Market__stock__Last_Price__value {
    font-size: 1rem;
  }

  .Market__stock__symbol,
  .Market__stock__symbol__value {
    padding-left: 2rem;
    width: 100%;
    text-align: left;
  }

  .Market__stock__Last_Price__value,
  .Market__stock__Last_Price {
    padding-right: 2rem;
    width: 100%;
    text-align: right;
  }

  .Market__stock__CHG,
  .Market__stock__volume,
  .Market__stock__Bid_Price,
  .Market__stock__Offer_Price,
  .Market__stock__offer_volume,
  .Market__stock__total_volume {
    width: 100%;
    text-align: center;
    font-size: 0.65rem;
  }

  .Market__stock__High,
  .Market__stock__Low,
  .Market__stock__Open,
  .Market__stock__floor,
  .Market__stock__Average,
  .Market__stock__Close {
    width: 60%;
    text-align: center;
    font-size: 0.65rem;
  }

  .Market__stock__CHG__value,
  .Market__stock__volume__value,
  .Market__stock__Bid_Price__value,
  .Market__stock__Offer_Price__value,
  .Market__stock__offer_volume__value,
  .Market__stock__total_volume__value,
  .Market__stock__High__value,
  .Market__stock__Low__value,
  .Market__stock__Open__value,
  .Market__stock__floor__value,
  .Market__stock__Average__value,
  .Market__stock__Close__value {
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
  }

  .Market__container__mid__Footer {
    border-top: 1px solid #282a2e;
  }

  .Market__Footer__Pin,
  .Market__Footer__Total,
  .Market__Footer__Volume,
  .Market__Footer__Price,
  .Market__Footer__Symbol,
  .Market__Accont__Line_Available,
  .Market__Accont__Cash__balance,
  .Market__Accont__Credit__limit,
  .Market__Accont__Dropdawn {
    border-radius: 5px;
    background-color: #282a2e;
  }

  .Market__Footer__Symbol__value,
  .Market__Accont__Cash__balance,
  .Market__Accont__Line_Available,
  .Market__Accont__Cash__balance__value,
  .Market__Accont__Line_Available__value,
  .Market__Accont__Credit__limit,
  .Market__Accont__Credit__limit__value,
  .Market__Accont,
  .Market__Accont__value {
    font-size: 0.75rem;
  }

  .Market__Footer__Buy,
  .Market__Footer__Sell {
    border-radius: 5px;
    font-size: 0.75rem;
  }

  .activeBuy,
  .activeSell {
    border-radius: 5px;
  }

  .Market__Footer__Reset__Order {
    border-radius: 5px;
    font-size: 0.75rem;
    border: 1px solid #4e4f51;
  }

  .Market__Footer__Place__Order {
    border-radius: 10px;
    font-size: 0.75rem;
  }

  .Market__container__right__Container__Bottom,
  .Market__container__right__Header__top {
    font-size: 0.75rem;
  }

  .Market__container__right__Bottom__header__Symbol,
  .Market__container__right__Bottom__header__Side,
  .Market__container__right__Bottom__header__Price,
  .Market__container__right__Bottom__header__Volume,
  .Market__container__right__Bottom__header__Status,
  .Market__container__right__top__header__Symbol,
  .Market__container__right__top__header__Price,
  .Market__container__right__top__header__Change {
    font-size: 0.75rem;
  }

  .Market__container__right__stock__Symbol,
  .Market__container__right__stock__Price,
  .Market__container__right__stock__Change {
    font-size: 0.75rem;
  }

  .Market__container__stock__box {
    max-height: 14rem;
  }

  .Market__container__left__stock__Box{
    max-height: 37rem;
  }

  .Market__container__left__stock__Box__stock__symbol
{
  font-size: 0.75rem;
}

.Market__container__left__stock__Box__stock__lastPrice,
.Market__container__left__stock__Box__stock__percentChange{
  font-size: 0.65rem;
}

.Market__container__left__stock__Box__stock__lastPrice__value,
.Market__container__left__stock__Box__stock__percentChange__value{
  font-size: 0.75rem;
}

.Market__container__left__stock__Box__stock{
  border-radius: 1rem;
}

.Martket__left_div{
  border-radius: 0.5rem;
}

.Market__container__left__serch__input{
  border-radius: 10rem;
  border: 1px solid #4e4f51;
}

.Market__container__left__serch__input__box{
  font-size: 0.65rem;
}

}

@media screen and (min-width: 1600px) and (max-width: 1800px) {

}

@media screen and (min-width: 1801px) {
 
}
