:root {
    --background-color: #1A1B1E;
    --text-color: #CCFF00;
    --box-color: #282A2E;
  }

.Allsection{
    width: 100%;
    height: 100vh;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.LeftTopContainer{
    /*background: darkslategray;*/
    width: 100%;
    height: 6.25%;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

searchbox {
    width: 70%;
    background: black;
    border-radius: 5rem;
    margin-left: 10%;
    text-align: center;
}

.LeftBotContainer{
    /*background: darkkhaki;*/
    background: var(--background-color);
    width: 100%;
    height: 93.75%;
    text-align: center;
}
  
.left{
    /*background: wheat;*/
    width: 20%;
    height: 100vh;

    display: flex;
    justify-items: center;
    flex-wrap: wrap;
}

stockbox{
    background: grey;

}

/*-----RIGHT-----*/
.right {
    /*background: wheat;*/
    background: var(--background-color);
    width: 20%;
    height: 100vh;

    display: flex;
    justify-items: center;
    flex-wrap: wrap;

}
.rightSplit{
    background: var(--background-color);
    height: 50%;
    width: 100%;    
}
.rightSplit-Header{
    text-align: left;
    padding-top: 5%;
    padding-left: 15%;

    color: var(--text-color);
    font-weight: 600;
    font-size: 0.95rem;
}
.rightSplit-Text{
    text-align: left;
    padding-top: 2.5%;
    padding-left: 15%;
    font-weight: 400;
    font-size: 0.75rem;
    color: #767678;
}
/*--------MID------*/
.mid {
    background:darkgray;
    width: 60%;
    text-align: center;
    height: 100vh;

}
.topY {
    height: 14%;
    background:lightgoldenrodyellow;
    text-align: center;
}
.midY{
    height: 58%;
    background :salmon;
    text-align: center;
    display: flex;
}
.midY1{
    height: 48%;
    background: rgb(181, 168, 144);
    display: flex;
}
.midY2{
    height: 26%;
    background: rgb(160, 127, 65);
}
.midY1Left{
    height: 100%;
    width: 32.5%;
    background: rgb(86, 75, 55);
}
.midY1Right{
    height: 100%;
    width: 67.5%;
    background: rgb(255, 199, 94);
}

.bottomY{
    height: 28%;
    background :#1A1B1E;
    text-align: center;

    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;

    flex-wrap: wrap;
}
/*--------MID------*/
item {
    background: #282A2E;
    width: 32.24%;
    height: 20%;
    border-radius: 5px;
}