.PopupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .PopupContent {
    background: linear-gradient(101.5deg, #282A2E 0%, #1A1B1E 100%);
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 20%;
  }
  
  .PopupContent h2 {
    font-size: 1.15rem;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .PopupContent p {
    margin-bottom: 10px;
    font-size: 0.75rem;
  }
  
  .PopupContent input[type="password"] {
    background-color: transparent;
    padding: 8px;
    width: 95%;
    border: 1px solid #4e4f51;
    border-radius: 5px;
    outline: none;
  }
  
  .ButtonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .ButtonGroup button {
    flex-grow: 1;
    margin: 0 5px;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.65rem;
    font-weight: 600;
  }
  
  .CancelButton {
    background-color: #282a2e;
    color: #ffffff;
    border: 1px solid #4e4f51;
  }
  
  .CancelButton:hover {
    background-color: #cd3d42;
    transform: translateY(-2px);
  }
  
  .OkButton {
    background-color: #ccff00;
    color: #282a2e;
    border: none;
  }
  
  .OkButton:hover {
    transform: translateY(-2px);
  }
  