.AllsectionRegis {
  width: 100%;
  height: 100vh;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
  
.boxRegis {
  width: 20%;
  height: 48%;
  display: flex;
  flex-wrap: wrap;
  
}

.Head-Text {
  font-weight: 600;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
}

.TextBoxInsert1,
.TextBoxInsert2,
.TextBoxInsert3,
.TextBoxInsert4 {
  border: 1px solid #4e4f51;
  background-color: #282a2e;
  width: 100%;
  border-radius: 5px;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.TextBoxInsert1 input,
.TextBoxInsert2 input,
.TextBoxInsert3 input,
.TextBoxInsert4 input {
  background-color: transparent;
  font-size: 0.65rem;
  color: #ffffff;
  width: 90%;
  height: 70%;
  outline: none;
  padding-top: 1%;
  padding-bottom: 1%;
}


.CancelConfirm {
  width: 100%;
  border-radius: 5px;
  margin-top: 5%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.RegisCancel {
  width: 48%;
  height: 80%;
  border-radius: 5px;
  background-color: #282a2e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  border: 1px solid #4e4f51;
}

.RegisCancel:hover {
  background-color: #cd3d42;
  transform: translateY(-2px);
}

.RegisConfirm {
  width: 48%;
  height: 80%;
  border-radius: 5px;
  background: #ccff00;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #282a2e;
  font-size: 0.75rem;
  font-weight: 600;
}

.RegisConfirm:hover {
  transform: translateY(-2px);
}

.stone1 {
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease;
  }

.stone2 {
    position: absolute;
    top: 18%;
    left: 32%;
    transform: translate(-60%, -50%);
    transition: transform 0.1s ease;
    z-index: -5;
}
.stone3 {
    position: absolute;
    top: 40%;
    left: 28%;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease;
    z-index: -4;
  }

.stone4 {
    position: absolute;
    top: 20%;
    left: 54%;
    transform: translate(-60%, -50%);
    transition: transform 0.1s ease;
    z-index: 3;
}
.stone5 {
    position: absolute;
    top: 52%;
    left: 60%;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease;

  }

.stone6 {
    position: absolute;
    top: 42%;
    left: 58%;
    transform: translate(-60%, -50%);
    transition: transform 0.1s ease;
    z-index: -5;
}

.stone7 {
    position: absolute;
    top: 70%;
    left: 32%;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease;
    z-index: -4;
  }

.stone8 {
    position: absolute;
    top: 12%;
    left: 44%;
    transform: translate(-60%, -50%);
    transition: transform 0.1s ease;
    z-index: -5;
}
.stone9 {
    position: absolute;
    top: 74%;
    left: 58%;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease;

  }

.stone10 {
    position: absolute;
    top: 74%;
    left: 46%;
    transform: translate(-60%, -50%);
    transition: transform 0.1s ease;
    z-index: -5;
}

.stone-image {
    width: 90%; 
    height: 90%;
    
}

.creditcardS{
    z-index: -2;
    position: absolute;
}

.Reis___background {
    position: absolute; 
    width: 23%;
    z-index: -99;
  }

@media screen and (min-width: 1600px) and (max-width: 1800px) {
  .TextBoxInsert input {
    font-size: 0.8rem;
  }

  .RegisCancel {
    font-size: 1rem;
  }

  .RegisConfirm {
    font-size: 1rem;
  }

  .TextBoxInsert input {
    font-size: 0.8rem;
  }

  .Head-Text {

    font-size: 1rem;
  }


}

@media screen and (min-width: 1801px) {
    .TextBoxInsert input {
        font-size: 1rem;
      }

      .RegisCancel {
        font-size: 1.25rem;
      }

      .RegisConfirm {
        font-size: 1.25rem; 
      }

      .TextBoxInsert input {
        font-size: 1rem;
      }

      .Head-Text {

        font-size: 1.25rem;
      }

}