.Allsection_regis{
    width: 100%;
    height: 100vh;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.box_regis{
    width: 50%;
    background: wheat;
}